@model PCMS_Application.Models.TblUser

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PCMS | Forgot Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @*<link href="~/Content/PRoleStyle.css" rel="stylesheet" />*@
    <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>

    <script type="text/javascript">

        window.onload = function () {
            var i = 0; var previous_hash = window.location.hash;
            var x = setInterval(function () {
                i++; window.location.hash = "/noop/" + i;
                if (i == 10) {
                    clearInterval(x);
                    window.location.hash = previous_hash;
                }
            }, 10);
        }

    </script>

</head>

<body class="gray-bg" style="">

    @{


        if (TempData["message"] != null)
        {
            <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
            <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
            <script type="text/javascript">
            swal("Successful!",@Html.Raw(Json.Encode(TempData["message"])), "success");
            </script>
        }
        else if (TempData["message1"] != null)
        {
            <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
            <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
            <script type="text/javascript">
            swal("Error!",@Html.Raw(Json.Encode(TempData["message1"])), "error");
            </script>
        }
    }

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            @{
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-lg-12" style="padding: 8%;  padding-top: 2%;  margin-top: 4%;   box-shadow: 0 0 10px #808080; border-radius: 3px; background: rgba(0, 0, 0, 0.7);">
                    <form class="m-t" role="form" action="@Url.Action("ForgotPassword", "PCMSLogin")" method="post">
                        @Html.AntiForgeryToken()

                        <p class="text-muted text-center"><b>Reset Password</b></p>

                        <div class="form-group">
                            <input type="text" name="EmailAddress" class="form-control" placeholder="Email" required="">
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="School Code" name="SCode" required>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary block full-width m-b" value="Submit" />
                        </div>
                        <br />
                        <p class="text-muted text-center"><small>Already have an account?</small></p>
                        <a class="btn btn-primary btn-block" href="@Url.Action("LoginHomeIndex", "PCMSLogin")">Login</a>
                        <br /><br />

                        <p class="text-muted text-center"><small>Don't have an account?</small></p>
                        <a class="btn btn-white btn-block" href="@Url.Action("Register", "PCMSLogin")">Register</a>
                        <a class="btn btn-white btn-block" href="@Url.Action("Index", "Home")">Cancel</a>
                        <br /><br />

                    </form>
                </div>
            }

        </div>
    </div>


</body>

</html>


