@model PCMS_Application.Models.TblLearner

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PCMS | Edit Learner </title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @*<link href="~/Content/PRoleStyle.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
    <script src="~/Content/plugins/datapicker"></script>
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validation.js"></script>
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Scripts/Guriddo/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <link href="~/Content/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

</head>

<body class="gray-bg">

    @{
        if (TempData["Error"] != null)
        {
            <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
            <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
            <script type="text/javascript">
            swal("Error!",@Html.Raw(Json.Encode(TempData["Error"])), "error");
            </script>
        }
    }

</body>
</html>

<div class="text-left animated fadeInDown">
    <div class="row">
        <div class="modal-dialog modal-lg" style="width:70%;height:auto">

            <div class="modal-content">
                <div class="modal-header bg-success p-xs b-r-xs">
                    <h3 class="modal-title">
                        Edit Learner
                    </h3>
                </div>

                <div class="modal-body">

                    @using (Html.BeginForm("Edit", "Learners", FormMethod.Post, new { id = "FrmLrnr", name = "FrmLrnr" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.LearnerId)
                        @Html.HiddenFor(model => model.LearnerCode)
                        @Html.HiddenFor(model => model.LearnerEmail)
                        @Html.HiddenFor(model => model.LearnerStartDate)
                        @Html.HiddenFor(model => model.LearnerEndDate)

                        <div class="panel-body BoxAndShadow">

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                @Html.LabelFor(model => model.SchoolId, "School")
                                @Html.DropDownList("School", null, "Select", htmlAttributes: new { @class = "form-control chosen-select ", disabled = true })
                                @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
                                <input id="SchoolId" name="SchoolId" value="@ViewBag.SchoolId" hidden />
                            </div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                @Html.LabelFor(model => model.TeacherId, "Teacher") <span style="color:red">*</span>
                                @Html.DropDownList("TeacherId", null, "Select", htmlAttributes: new { @class = "form-control chosen-select" })
                                @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                @Html.LabelFor(model => model.LearnerName, "Learner Name") <span style="color:red">*</span>
                                @Html.EditorFor(model => model.LearnerName)
                                @Html.ValidationMessageFor(model => model.LearnerName, null, new { @class = "text-danger", })
                            </div>

                            <div class="form-group w-100"></div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                @Html.LabelFor(model => model.LearnerEmail, "Email Address")
                                <input value="@Model.LearnerEmail" name="LearnerEmail" id="LearnerEmail" class="form-control" type="text" readonly>
                                @Html.ValidationMessageFor(model => model.LearnerEmail, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                @Html.LabelFor(model => model.LearnerContactNr, "Contact Nr")
                                @Html.EditorFor(model => model.LearnerContactNr)
                                @Html.ValidationMessageFor(model => model.LearnerContactNr, null, new { @class = "text-danger", })
                            </div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                @Html.LabelFor(model => model.LearnerAddress, "Address")
                                @Html.EditorFor(model => model.LearnerAddress)
                                @Html.ValidationMessageFor(model => model.LearnerAddress, null, new { @class = "text-danger", })
                            </div>

                            <div class="form-group w-100"></div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em" id="data_1">
                                <label for="LearnerStartDate">Start Date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span><input value="@Model.LearnerStartDate" id="LearnerStartDate" name="LearnerStartDate" class="form-control" type="text" readonly>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="LearnerStartDate" data-valmsg-replace="true"></span>
                            </div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em" id="data_1">
                                <label for="LearnerEndDate">End Date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span><input value="@Model.LearnerEndDate" id="LearnerEndDate" name="LearnerEndDate" class="form-control" type="text" readonly>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="LearnerEndDate" data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        <div class="form-group w-100"></div>
                        <div class="form-group w-100"></div>

                        <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                            <input type="button" value="Save" class="btn btn-success" id="btnLrnr" />
                            <a class="btn btn-default" href='@Url.Action("Index","Learners")'>Cancel</a>
                        </div>
                        <div class="form-group w-100"></div>
                    </div>
                    }

                </div>

                <div class="modal-footer">
                    <div class="col-md-12">
                        <a class="btn btn-block btn-success btn-sm" href='@Url.Action("Index","Learners")'>Back</a>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    $('#btnLrnr').click(function (e) {
        if ($("#FrmLrnr").valid() && $("#LearnerName").val() != null && $("#LearnerName").val() != "" && $("#TeacherId").val() != null && $("#TeacherId").val() != "") {
            document.forms["FrmLrnr"].submit();
            $('#btnLrnr').prop('disabled', true);

            $("[data-valmsg-for='LearnerName']").text("");
            $("[data-valmsg-for='TeacherId']").text("");

            }
            else {
            var LearnerName = $("#LearnerName").val();
            var TeacherId = $("#TeacherId").val();

            if (LearnerName == null || LearnerName == "") {
                $("[data-valmsg-for='LearnerName']").text("This field is required.");
                $("[data-valmsg-for='LearnerName']").css('color', '#ed5565');
                    e.preventDefault();
                }
                else {
                $("[data-valmsg-for='LearnerName']").text("");
            }

            if (TeacherId == null || TeacherId == "") {
                $("[data-valmsg-for='TeacherId']").text("This field is required.");
                $("[data-valmsg-for='TeacherId']").css('color', '#ed5565');
                e.preventDefault();
            }
            else
            {
                $("[data-valmsg-for='TeacherId']").text("");
            }

            }
        });

    $('#TeacherId').keyup(function () {
        if ($('#TeacherId').val() != null && $('#TeacherId').val() != "") {
            $("[data-valmsg-for='TeacherId']").text("");
        }
    });

    $('#LearnerName').keyup(function () {
        if ($('#LearnerName').val() != null && $('#LearnerName').val() != "") {
            $("[data-valmsg-for='LearnerName']").text("");
        }
    });

        $(document).ready(function ()
        {
            $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
        });

        });

        $('.chosen-select').chosen({ width: "100%" });

</script>


