@model PCMS_Application.Models.TblSchool

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PCMS | Create School </title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @*<link href="~/Content/PRoleStyle.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/plugins/datapicker"></script>
    <script src="~/Content/plugins/chosen"></script>
    <script src="~/Content/plugins/select2"></script>
    <link href="~/Content/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validation.js"></script>
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Scripts/Guriddo/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>

</head>

<body class="gray-bg">

    @{
        if (TempData["Error"] != null)
        {
            <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
            <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
            <script type="text/javascript">
            swal("Error!",@Html.Raw(Json.Encode(TempData["Error"])), "error");
            </script>
        }
    }

</body>
</html>

<div class="text-left animated fadeInDown">
    <div class="row">
        <div class="modal-dialog modal-lg" style="width:70%;height:auto">

            <div class="modal-content">
                <div class="modal-header bg-success p-xs b-r-xs">
                    <h3 class="modal-title">
                        Create School
                    </h3>
                </div>

                <div class="modal-body">

                    @using (Html.BeginForm("Create", "Schools", FormMethod.Post, new { id = "FrmSchl", name = "FrmSchl" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="panel-body BoxAndShadow">

                                <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                    @Html.LabelFor(model => model.SchoolName, "School Name") <span style="color:red">*</span>
                                    @Html.EditorFor(model => model.SchoolName)
                                    @Html.ValidationMessageFor(model => model.SchoolName, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                    @Html.LabelFor(model => model.SchoolEmail, "School Representitive Email") <span style="color:red">*</span>
                                    @Html.EditorFor(model => model.SchoolEmail)
                                    @Html.ValidationMessageFor(model => model.SchoolEmail, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                    @Html.LabelFor(model => model.SchoolAddress, "School Address")
                                    @Html.EditorFor(model => model.SchoolAddress)
                                    @Html.ValidationMessageFor(model => model.SchoolAddress, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group w-100"></div>

                                <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                    @Html.LabelFor(model => model.SchoolContactNr, "School Contact Nr")
                                    @Html.EditorFor(model => model.SchoolContactNr)
                                    @Html.ValidationMessageFor(model => model.SchoolContactNr, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em" id="data_1">
                                    <label for="SchoolStartDate">Start Date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span><input value="" id="SchoolStartDate" name="SchoolStartDate" class="form-control" type="text">
                                    </div>
                                    <span class="field-validation-valid" data-valmsg-for="SchoolStartDate" data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em" id="data_1">
                                    <label for="SchooEndDate">End Date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span><input value="@ViewBag.InfinteDate" id="SchooEndDate" name="SchooEndDate" class="form-control" type="text">
                                    </div>
                                    <span class="field-validation-valid" data-valmsg-for="SchooEndDate" data-valmsg-replace="true"></span>
                                </div>

                            </div>

                            <div class="form-group w-100"></div>
                            <div class="form-group w-100"></div>

                            <div class="form-group col-md-4 col-sm-6" style="padding-right: 2em">
                                <input type="button" value="Create" class="btn btn-success" id="btnSchl" />
                                <a class="btn btn-default" href='@Url.Action("Index","Schools")'>Cancel</a>
                            </div>
                            <div class="form-group w-100"></div>
                        </div>
                    }

                </div>

                <div class="modal-footer">
                    <div class="col-md-12">
                        <a class="btn btn-block btn-success btn-sm" href='@Url.Action("Index","Schools")'>Back</a>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    $('#btnSchl').click(function (e) {
        if ($("#FrmSchl").valid() && $("#SchoolName").val() != null && $("#SchoolName").val() != "" && $("#SchoolEmail").val() != null && $("#SchoolEmail").val() != "") {
            document.forms["FrmSchl"].submit();
                $('#btnSchl').prop('disabled', true);

            $("[data-valmsg-for='SchoolName']").text("");
            $("[data-valmsg-for='SchoolEmail']").text("");

            
            }
            else {
            var SchoolName = $("#SchoolName").val();
            var SchoolEmail = $("#SchoolEmail").val();

            if (SchoolName == null || SchoolName == "") {
                $("[data-valmsg-for='SchoolName']").text("This field is required.");
                $("[data-valmsg-for='SchoolName']").css('color', '#ed5565');
                    e.preventDefault();
                }
                else {
                $("[data-valmsg-for='SchoolName']").text("");
            }

            if (SchoolEmail == null || SchoolEmail == "") {
                $("[data-valmsg-for='SchoolEmail']").text("This field is required.");
                $("[data-valmsg-for='SchoolEmail']").css('color', '#ed5565');
                e.preventDefault();
            }
            else
            {
                $("[data-valmsg-for='SchoolEmail']").text("");
            }

            }
        });

    $('#SchoolName').keyup(function () {
        if ($('#SchoolName').val() != null && $('#SchoolName').val() != "") {
            $("[data-valmsg-for='SchoolName']").text("");
        }
    });

    $('#SchoolEmail').keyup(function () {
        if ($('#SchoolEmail').val() != null && $('#SchoolEmail').val() != "") {
            $("[data-valmsg-for='SchoolEmail']").text("");
        }
    });

        $(document).ready(function ()
        {
            $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
        });

        });

        $('.chosen-select').chosen({ width: "100%" });

</script>

