@model IEnumerable<PCMS_Application.Models.TblEvent>

@{
    ViewBag.Title = "Events";

    if (TempData["DelFail"] != null)
    {
        <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
        <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
        <script type="text/javascript">
            swal("Actiion Failed!",@Html.Raw(Json.Encode(TempData["DelFail"])), "error");
        </script>
    }
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins" style="box-shadow: 0 0 10px #808080">
                <div class="ibox col-lg-12" style="box-shadow: 0 0 10px #808080">
                    <div class="ibox-title">

                        <a title="Back to Schools Navigation" class="btn btn-white btn-xs pull-right" href="@Url.Action("SchoolNav", "../PCMSNavigation")">Back</a>

                    </div>

                </div>
            </div>

            <div class="ibox float-e-margins" style="box-shadow: 0 0 10px #808080">
                <div class="ibox-title">
                    <h5> Events</h5>
                    <div class="ibox-tools">
                        <a title="Create Event" class="btn btn-xs" style="background-color:transparent;border-color:steelblue;color:steelblue;width:auto" href='@Url.Action("Create", "../SCHL/Events")' id="back"> <i class="fa fa-plus" style="color:steelblue"></i> Add</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover no-margins" style="white-space:nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        Event
                                    </th>
                                    <th>
                                        School
                                    </th>
                                    <th>
                                        Event Place
                                    </th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event Time
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Event
                                        </td>
                                        <td>
                                            @item.TblSchool.SchoolCode
                                        </td>
                                        <td>
                                            @item.EventPlace
                                        </td>
                                        <td>
                                            @item.EventDate
                                        </td>
                                        <td>
                                            @item.EventTime
                                        </td>
                                        <td align="justify">

                                            <a title="View Event" class="btn btn-xs" style="background-color:transparent;border-color:seagreen;color:seagreen;width:auto" href='@Url.Action("Details", "../SCHL/Events", new { id = item.EventId })' id="back"> <i class="fa fa-eye" style="color:seagreen"></i> View</a>

                                            <a title="Edit Event" class="btn btn-xs" style="background-color:transparent;border-color:steelblue;color:steelblue;width:auto" href='@Url.Action("Edit", "../SCHL/Events", new { id = item.EventId })' id="back"> <i class="fa fa-pencil" style="color:steelblue"></i> Edit</a>

                                            <a title="Delete Event" class="btn btn-xs" style="background-color:transparent;border-color:red;color:red;width:auto" href='@Url.Action("Delete", "../SCHL/Events", new { id = item.EventId })' id="back"> <i class="fa fa-trash" style="color:red"></i> Delete</a>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        Event
                                    </th>
                                    <th>
                                        School
                                    </th>
                                    <th>
                                        Event Place
                                    </th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event Time
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/Content/OrnecyCss/OrnecyPrint.css")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/Content/HorizontalTimelIne.css")
    @Styles.Render("~/Content/plugins/sweetalert/sweetalert.css")


}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/touchPunch")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/Scripts/plugins/sweetalert/sweetalert.min.js")


    <script type="text/javascript">

        window.onload = function () {
            var i = 0; var previous_hash = window.location.hash;
            var x = setInterval(function () {
                i++; window.location.hash = "/noop/" + i;
                if (i == 10) {
                    clearInterval(x);
                    window.location.hash = previous_hash;
                }
            }, 10);
        }

        //-----------------Box shadow styling starts-------------
        $('.BoxAndShadow').css('box-shadow', ' 0 0 10px #808080');
        $('.BoxAndShadow').hover(function () {
            $(this).css('box-shadow', ' 0 0 20px #808080');
        }, function () {
            $(this).css('box-shadow', ' 0 0 10px #808080');
        });
        //----------------Box shadow styling ends----------------

        $(document).ready(function () {
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: $("#DateFormat").val()

            });

        });

        $(".chosen-select").chosen({ width: "100%" });

    </script>

}
